################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.HistoryData/LocalHistory/
/bouncy-castle-hmac-sha1-pcl/bin/
/bouncy-castle-hmac-sha1-pcl/obj/
*.suo
*.nupkg